<%# no need for thumbnails unless there is more than one image %>
<% if (@product.images + @product.variant_images).uniq.size > 1 %>
    <% num = 0 %>
    <% @product.images.each do |i| %>
      <li data-target="#carousel-custom" data-slide-to="<%= num %>" class="thumbnails inline" data-hook>
         <%=image_tag i.attachment(:large), 
         size: "80x120", alt: num %>
      </li>
    <% num = num + 1 %>
    <% end %>

    <% if @product.has_variants? %>
      <% @product.variant_images.each do |i| %>
        <% next if @product.images.include?(i) %>
        <li class='vtmb tmb-<%= i.viewable.id %>'>
          <%= link_to(image_tag(i.attachment.url(:small)), i.attachment.url(:product)) %>
        </li>
      <% end %>
    <% end %>
<% end %>


 

