              <% num = 0 %>
              <% @product.images.each do |i| %>
              <% if num ==0 %>
              <div class = "item active">
              <% else %>
                    <div class = "item">
                      <% end %>
                      <% if i.attachment_width>i.attachment_height %>
                        <%=image_tag i.attachment(:large), 
                        size: "375x250", alt: num, class: "zoom", "data-magnify-src":  i.attachment(:large) %>
                      <% else %>
                        <%=image_tag i.attachment(:large), 
                        size: "250x375", alt: num, class: "zoom", "data-magnify-src":  i.attachment(:large) %>
                      <% end %>
                    </div>
                <% num = num + 1 %>
                <% end %>
 
