@import "bootstrap-sprockets";
@import "bootstrap";
@import "spree/frontend/products";



@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
  }
  .navbar-nav > li.navbar-right {
    float: right !important;
  }
}


/* GLOBAL STYLES */


body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', helvetica, arial, sans;
  min-height: 100vh;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', helvetica, arial, sans;
  font-weight: 100;
  font-size: 1.5em
}



/* HEADER STYLES*/


.cart-ico
{
  font-size: 1.5em;
}

.cart-info
{ 
  color: #000;
  flex-grow: 1;
  flex-basis: 0;
  font-family: 'Open Sans', helvetica, arial, sans;
  font-size: 1.5rem;
  text-align: right;
}

.corner-title{
  font-family: 'Raleway', helvetica, sans;
  font-weight: 100;
  font-size: 1em;
  line-height: 4rem;
  text-align: center;
  vertical-align: middle;
}

.cuenta
{
  font-family: 'Open Sans', helvetica, arial, sans;
  font-weight: 100;
  font-size: 1em;
  line-height: 4rem;
  text-align: right;
  vertical-align: middle;
}


#menu li{
  display:inline;
}

.menu-item a{
  color: grey;
}

.menu-item-color a{
}

#fixed-header{
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  color: #fff;
  display:none;
  height: 10rem;
  position: fixed;
  width: 100%;
  z-index: 20;
}

#ir
{
  flex-grow: 1;
  flex-basis: 0;
}

.logo
{
  align-items: center;
  display: flex;
  height: 16rem;
}

.wrapper-logo
{
  align-items: center;
  display: flex;
  height: 10rem;
}



.throw-left{
  text-align: left;
}



.top-bar
{
  border-bottom: solid 1px #c9c9c9;
  height: 4rem;
}




/* NAV STYLES*/
.fixed-menu-title{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 1.8em
}

.fixed-menu-title a{
  color:#000;
}

.fixed-nav-center
{
  line-height: 10rem;
  text-align: center;
}


input.search-field:focus {
    outline:none;
}



.menu-title{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 1.5em
}

.menu-title a{
    color:#fff;
  }

.nav-color
{
    background: #fff;
}

.nav-black
{
    background: #000;
    height: 7rem;
}


.search-field{
  font-family: 'Open Sans', helvetica, arial, sans;
  font-size: 1.5rem;
  border: none;
  border-bottom: solid 1px #c9c9c9;
  padding: 5px;
}

.vertical-center{
  line-height: 7rem;
  vertical-align:middle;
}

/* SOCIAL LINKS */

.social-link {
  background: rgba(150,150,150,0.5);
  border-radius: 99px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-family: helvetica, arial, sans;
  font-size: 1.2em;
  font-weight: bold;
  height: 1.5em;
  line-height: 1;
  padding-top: 0.25em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 1.5em;
}


/* BOOTSTRAP OVERRIDE */

.btn
{
  background: #fff;
  color: grey;
}


/* FOOTER STYLE */

.footer-wrapper
{
  background-color: #171717;
  color: white;
  height: 30rem;
  width: 100%;
}

.contacto p
{
  font-family: 'Coming Soon', cursive;
  font-size: 1.3rem;
  letter-spacing: 1px;
}


#footer-center h1{
  font-family: 'Coming Soon', cursive;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.powered-by{
  font-family: 'Open Sans', helvetica, arial, sans;
  font-size: 1rem;
  text-align: center;
}




@media (max-width: 800px) {
  html {
  }

  /* HEADER STYLES */
.search-wrapper, .cart-wrapper{
  display: none;
}

.top-bar
{
  border-bottom: solid 1px #c9c9c9;
  height: 4rem;
}

#fixed-header{
  display:none;
  z-index: 0;
}

  /* NAV STYLES */
.nav-black
{
    background: #000;
    height: auto;
}

.dropdown-menu li>a {color:#fff; }
.dropdown-menu >li {color:#fff;}
.dropdown-menu li>a:hover {background:#fff;}




.menu-title a:hover{
  color:green;
}

  /* FOOTER STYLES */

}
