  <div class = "footer-wrapper">
  	<div class = "container">
  		<div class = "row footer">
  			<footer id="footer" class="sixteen columns" data-hook>

  				<div id="footer-left" class="col-md-4" data-hook>
  				</div>

  				<div id="footer-center" class="col-md-4" data-hook> 
  					<h1> Contacto </h1>

  					<div class = "contacto">
  						<p> <i class="fa fa-phone"></i> Teléfono <br>
  							(57)3008805938 		     <br><br>
  							<i class="fa fa-map-marker"></i>         
  							Barranquilla, Colombia   <br><br>
  							<i class="fa fa-envelope"></i> E-mail <br>
  							tamarindoandco@gmail.com <br><br>
  							- Horario regular - 	  <br>
  							Lunes a Sábado			 <br>
  							9 AM - 5 PM 			 <br>
  						</p>
  					</div>

  				</div>

  				<div id="footer-right" class="col-md-4" data-hook>
  				</div>

  			</footer>
  		</div>
  		<div class = "row copyright">
  		<div class = "powered-by">
  			  <p> Derechos de autor © 2017, Tamarindo.<br> <%= Spree.t :powered_by  %> <%= link_to 'Solidus', 'http://solidus.io/' %></p>
  		</div>  
  		</div>		
  	</div>
  </div>



