 <div class = "headline">
  	<%= Spree.t(:create_a_new_account) %>
 </div>


<div class="createbenefits">

	 

<div class="benefit-heading">Con tu cuenta podrás:</div>

<div class="benefit-list">
<ul>

	<li><i class="fa fa-check" aria-hidden="true"></i>	
	Tener accesos a todos nuestros productos y servicios</li>
    <li><i class="fa fa-check" aria-hidden="true"></i>	Finalizar tus pedidos más rápido</li>
    <li><i class="fa fa-check" aria-hidden="true"></i>	Consultar tu historial de pedidos</li>
    <li><i class="fa fa-check" aria-hidden="true"></i>	Añadir o modificar tus preferencias de correo electrónico</li>
</ul>

</div>

</div>

<div id = "ch4_container" >
<div class="co-btn_primary btn_create_account">
<%= link_to Spree.t(:create_a_new_account), spree.signup_path %> 
</div>
</div>




